.PW-component-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
    gap: 2rem;
}

.generate-button {
    padding: 1rem 2rem;
    width: auto;
}
