*, *::before, *::after {
    box-sizing: border-box;
  }
  
body {
    font-family: Verdana !important;
    font-size: 1rem;
}

.PW-component-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
}

.length-label {
    display: flex;
    align-items: center;
}

.generate-button {
    padding: 1rem 2rem;
    width: auto;
    font-size: 1rem;
}

.generate-PW-section {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generate-PW-section h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.password-output {
    margin: 2rem;
    display: block;
    padding: 1.5rem;
    word-break: break-all;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
}


.strength-indicator {
    padding-left: 2rem;
    padding-top: 8px;
    padding-bottom: 1rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.strength-label {
    font-weight: bold;
    margin: 1rem 0;
}

.character-distribution {
    background-color: #f8f9fa;
    padding-left: 2rem;
    padding-top: 1rem;
    border-radius: 0.5rem;
    width: 800px;
}

.char-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.char-item {
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    flex: 0 0 3rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 7rem;
}

.char-value {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
